<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Learner_Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentsServlet</display-name>
    <servlet-name>StudentsServlet</servlet-name>
    <servlet-class>com.StudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsServlet</servlet-name>
    <url-pattern>/StudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectsServlet</display-name>
    <servlet-name>SubjectsServlet</servlet-name>
    <servlet-class>com.SubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectsServlet</servlet-name>
    <url-pattern>/SubjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeachersServlet</display-name>
    <servlet-name>TeachersServlet</servlet-name>
    <servlet-class>com.TeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachersServlet</servlet-name>
    <url-pattern>/TeachersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesServlet</display-name>
    <servlet-name>ClassesServlet</servlet-name>
    <servlet-class>com.ClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesServlet</servlet-name>
    <url-pattern>/ClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignmentServlet</display-name>
    <servlet-name>AssignmentServlet</servlet-name>
    <servlet-class>com.AssignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentServlet</servlet-name>
    <url-pattern>/AssignmentServlet</url-pattern>
  </servlet-mapping>
</web-app>